#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@ --buildsystem=meson --without autoreconf

#override_dh_autoreconf:
#	NOCONFIGURE=1 ./autogen.sh

#override_dh_install:
#	dh_install --list-missing

